tensorflow
keras<3.0
librosa
matplotlib
numpy
sounddevice
pandas
pyaudio
tensorflow_hub
tqdm
torch

--index-url https://download.pytorch.org/whl/cu118

torch
torchvision
torchaudio
pydot
tensorflow_addons